@model IEnumerable<SoloCapstone.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
        <a asp-action="Create" asp-controller="Ingredients">Create New Ingredient</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.usedIngredientCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.missedIngredientCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.likes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    <img src="@item.image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usedIngredientCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.missedIngredientCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.likes)
                </td>
                <td>
                    @Html.ActionLink("Add to favorites", "Create", "RecipeFavorites", new { id = item.id }, null) |
                </td>
            </tr>
        }
    </tbody>
</table>